<template>
  <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
    <div class="addForm">
      <div class="column is-12">
        <div class="title">Thêm nhóm công việc </div>
        <ValidationProvider rules="required" name="GroupName" v-slot="{ errors, valid }">
          <b-field label="Tên nhóm*" :type="{ 'is-danger': errors[0], 'is-success': valid }" :message="errors">
            <b-input type="text" maxlength="50" v-model="work.StrName" placeholder="Tên nhóm công việc" />
          </b-field>
        </ValidationProvider>

        <b-field class="margin-top" label="Nội dung mô tả">
            <b-input type="textarea" placeholder ="Nhập mô tả" v-model="work.StrDescriptions" />
        </b-field> 
      </div>
      <div class="column is-12 three-row">
        <div class="three-column">
          <ValidationProvider rules="required" name="ApplyFor" v-slot="{ errors, valid }">
            <b-field label="Đối tượng áp dụng*" :message="errors" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                <b-select @input = "changeSelection($event)" placeholder="Đối tượng áp dụng" v-model="work.IntGroupFor" expanded>
                    <option value>None</option>
                    <option value="1">Quản lí</option>
                    <option value="2 ">PGD</option>
                </b-select>
            </b-field> 
          </ValidationProvider>
        </div>
        <div class="space"></div>
        <div class="three-column col2">
          <ValidationProvider rules="required" name="Type" v-slot="{ errors, valid }">
            <b-field label="Loại hình*" :message="errors" :type="{ 'is-danger': errors[0], 'is-success': valid }">
                <b-select id = "dlType" placeholder="Loại hình" expanded v-model="work.IntRegionFor">
                    <option value>None</option>
                    <option value="1">Kinh doanh</option>
                    <option value="2">Marketing</option>
                </b-select>
            </b-field> 
          </ValidationProvider>
        </div>
        <div class="space"></div>
        <div class="three-column">
          <ValidationProvider rules="required|positive" name="Index" v-slot="{ errors, valid }">
            <b-field label="Thứ tự hiển thị*" :message="errors" :type="{ 'is-danger': errors[0], 'is-success': valid }">
              <b-input type="text" v-model="work.IntObjectFor" placeholder="Thứ tự hiển thị" />
            </b-field>
          </ValidationProvider>
        </div>
      </div>  
      <div class="button-section">
        <button class="button is-success" @click="handleSubmit(submit)">
          <span>Submit</span>
        </button>
      </div>     
    </div>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
// import Repository from "@/repositories/Repository.vue";

export default {
  name: "Add",
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data() {
    return {
      work: {
        StrName: "",
        StrDescriptions: "",
        IntGroupFor: "",
        IntRegionFor: "",
        IntObjectFor: ""
      }
    };
  },
  methods: {
    submit() {
      console.log(this.work);
      // const data = await Repository.post("AddWorkGroup", this.work);
      // if(data === undefined)
      //   return;
    }, 
    changeSelection(event) {
      let select = document.getElementById("dlType");

      if (event === '1') {
        this.work.IntRegionFor = "1";
        select.disabled = true;
      }
      else {
        this.work.IntRegionFor = "";
        select.disabled  = false;
      }
    }
  }
};
</script>

<style scoped>
.addForm {
  margin: 0px 50px;
}
.title {
  text-align: left;
}
.field {
  text-align: left;
}
.three-column {
  width: 30%;
}
.space {
  width: 5%;
}
.three-row {
  display: flex;
}
.button-section {
  text-align: center;
  margin-top: 20px;
}
.button {
  width: 280px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.margin-top {
  margin-top: 20px;
}
@media only screen and (max-width: 650px) {
  .three-row {
    display: block;
  }
  .three-column {
    width: 100%;
  }
}
</style>
